
.star-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

#textBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #textBtn>span{
    font-size: 25px;
  }
  .on {
    color: #0A8B1F;
  }
  .off {
      color: #ccc;
  }

