.register_btn{
    width: 320px;
    height: 50px;
    background: #D90429;
    box-shadow: 0px 6px 28px 5px rgba(254, 45, 23, 0.3);
    border-radius: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    outline: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 10px 0 10px 0;
    font-family: inherit;
}